Library/
Temp/
Bundles/
ExternalTools/
Logs/
obj/
Assets/Wwise/
Assets/StreamAssets/yoo/
HybridCLRData/
WwiseUnityIntegration_Mac_Src.zip
WwiseUnityIntegration_Android_Src.zip
WwiseUnityIntegration_Windows_Src.zip
logRunSetup.txt
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
*.dwlt
~*